@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .style3 {
        position: fixed;
        padding-top: 175px;
        width: 1170px;
    }
</style>
<h1>erdtfyghujk</h1>
<table class="style3">

    <tr>

        <td class="style4">
            Ever decided to take a weekend holiday from the city, but spent hours finding a
            car rental? Or taken one on the reference of a friend, only to have the operator
            leave you stranded in the middle and make you miss an important business
            meeting? Or did the cab just not show up?

            <br />
            Well, we&#39;ve faced the same problems too. And we decided to help fix it. So we&#39;ve
            created our website, a marketplace for all types of cabs and car rentals. It&#39;s
            very simple: You enter your city and your need.

            <br />
            We search the available inventory of our partners and provide you with a list of
            results and prices of different available cars from different operators. You can
            see our rating of that operator, what other customers said of them, and then
            book it right here on Olacabs.com.
            <br />

            Or you can call us and we&#39;ll help you through the process! It&#39;s that simple! We
            are a young and energetic company based in Jalandhar. Nothing excites us more
            than using technology to bring the same efficiency and customer experience to
            the car rental industry that you expect from flights!
        </td>

    </tr>


</table>