@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/front-wheel-blue-vintage-sedan_114579-6115.jpg?w=2000');
    }
</style>


<table class="style3">
    <tr>
        <td>
            <h2>
                FAQs
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <b><span class="style4">1.What is YourDrive? </span></b><span class="style4">
                <br />
                YourDrive is a cab booking portal which enables consumers to book taxis online.
                It gives you a wide range of taxis and operators across India to choose from
                based on your specific need whether it be an airport transfer, late night car
                hire, meeting, a road trip or just a special car on a special occasion such as
                an anniversary, birthday or even your marriage.
                <br />
                <br />
                <b>2. Why should I book through YourDrive? </b>
                <br />
                We make booking simple! Network of operators: We have tied up with the best
                operators from across India (International, National and Local) to suit your
                specific demand. We have the widest choice of vehicles to choose from. We have
                gone through a careful selection process to ensure that we provide you the best
                value for your hard-earned money.&nbsp; Customer is King/Queen!: We believe you
                are the king/queen and make every effort to ensure you a hassle free experience
                when you use our portal and help you keep that smile on your face all the time.
                We even equip you with e-receipts so that you don’t have to search for those
                small slips of paper to get your taxi fare reimbursed.
                <br />
                <br />
                <b>3. Do I need to pay anything in advance to book a cab?</b>
                <br />
                No you do not need to pay anything in advance. You can pay in cash to our driver
                after completing your trip.
            </span>
        </td>

    </tr>
</table>



