
@{
    ViewData["Title"] = "Home Page";
}



<head>
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>
    <!-- End WOWSlider.com HEAD section -->
</head>
<body>
    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="data1/images/im2.jpg" alt="im2" title="im2" id="wows1_0" /></li>
                <li><a href="http://wowslider.net"><img src="data1/images/im3.jpg" alt="slideshow javascript" title="im3" id="wows1_1" /></a></li>
                <li><img src="data1/images/im1.jpg" alt="im1" title="im1" id="wows1_2" /></li>
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                <a href="#" title="im2"><span><img src="data1/tooltips/im2.jpg" alt="im2" />1</span></a>
                <a href="#" title="im3"><span><img src="data1/tooltips/im3.jpg" alt="im3" />2</span></a>
                <a href="#" title="im1"><span><img src="data1/tooltips/im1.jpg" alt="im1" />3</span></a>
            </div>
        </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery image carousel</a> by WOWSlider.com v9.0</div>
        <div class="ws_shadow"></div>
    </div>
    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
    <!-- End WOWSlider.com BODY section -->
</body>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample"
     class="carousel slide carousel-dark text-center"
     data-mdb-ride="carousel">
    <!-- C
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1wgvXvrfgX2RvJR2EeBpoy_QKDduxCaRb4A&usqp=CAU"
                                 class="card-img-top"
                                 alt="Waterfall" />
                            <div class="card-footer">
                                <h5 class="card-title">Suv</h5>
                                <p class="card-text">
                                    SUVs—often also referred to as crossovers—tend to be taller and boxier than sedans, 
                                    offer an elevated seating position, and have more ground clearance than a car
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-block">
                        <div class="card">
                            <img src="https://www.hyundai.com/content/dam/hyundai/ww/en/images/find-a-car/pip/cars/azera-ig-fl/azera-ig-fl-highlights-key-feature-video.jpg"
                                 class="card-img-top"
                                 alt="Sunset Over the Sea" />
                            <div class="card-footer">
                                <h5 class="card-title">Sedan</h5>
                                <p class="card-text">
                                    A sedan has four doors and a traditional trunk. Like vehicles
                                    in many categories, they're available in a range of sizes from small
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="https://www.mazdausa.com/siteassets/vehicles/2022/mazda3-hatch/vlp/features/performance/hero/2022-Mazda-3-Hatchback-Skyactiv-G-2.5-Turbo-Engine.jpg"
                                 class="card-img-top"
                                 alt="Sunset over the Sea" />
                            <div class="card-footer">
                                <h5 class="card-title">Hatchback</h5>
                                <p class="card-text">
                                    Traditionally, the term "hatchback" has meant a compact or subcompact sedan with a squared-off roof and a 
                                    rear flip-up hatch door that provides access to the vehicle's cargo area instead of a conventional trunk
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="card">
                            <img src="https://i.ndtvimg.com/i/2015-12/mercedes-benz-gle-coupe_827x510_51449119963.jpg"
                                 class="card-img-top"
                                 alt="Peaks Against the Starry Sky" />
                            <div class="card-footer">
                                <h5 class="card-title">Coupe</h5>
                                <p class="card-text">
                                    A coupe is classically defined as a closed two-door car with a fixed roof.
                                    Considered sporty by nature, it generally gets just 2 seats or with a smaller-than-average rear.

                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="card">
                            <img src="https://i.ndtvimg.com/i/2014-12/audi-a3-cabriolet-3_625x300_51417497918.jpg"
                                 class="card-img-top"
                                 alt="Peaks Against the Starry Sky" />
                            <div class="card-footer">
                                <h5 class="card-title">Convertible</h5>
                                <p class="card-text">
                                    A convertible, a.k.a. a cabriolet or roadster, is a car with a roof structure that can be 'converted'
                                    to allow open-air or enclosed driving. They feature either a retractable hardtop roof or soft folding top.
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <div class="card">
                            <img src="https://i.ndtvimg.com/i/2016-03/volvo-s60-cross-country-827_827x510_51456830614.jpg"
                                 class="card-img-top"
                                 alt="Peaks Against the Starry Sky" />
                            <div class="card-footer">
                                <h5 class="card-title">Crossover</h5>
                                <p class="card-text">
                                    A simple, and common, definition of a crossover would be that it is a vehicle that combines the features of an SUV
                                    and a hatchback.Crossover vehicles offer soft-roading capabilities and are constructed like a
                                    car .
                                </p>
                                <a href="#!" class="btn btn-primary">price</a>
                            </div>
                        </div>


                    </div>






                </div>
            </div>
        </div>
    </div>
    <!-- Inner -->
</div>
<!-- Carousel wrapper -->
<!--footer-->
<!--foooter-->
<section style="background-color: #e6e6e6; " class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Home</h5><br>
                <h6>My booking</h6>
                <h6>Suppliers</h6>
                <h6>Travel Tips</h6>
                <h6>Car Rental Locations</h6>
                <br>


            </div>
            <div class="col-md-3">


                <div class="list ">
                    <h5>Car Rental</h5><br />
                    <h6>Car Rental-Compare</h6>
                    <h6>Car Rental-7 and 9 Seater</h6>
                    <h6>Luxry and prestige</h6>


                </div>

            </div>

            <div class="col-md-2 mt-2 mt-md-0">
                <h5>FAQ</h5><br>
                <div class="list ">
                    <h6>Advice for renters</h6>
                    <h6>Contact Ust</h6>
                    <h6>Privacy Notice</h6>
                    <h6>Cookie Policy</h6>
                    <h6>Genral Terms of Use</h6>

                </div>


            </div>

        </div>
    </div>

</section>

<!--footer 2-->

<section style="background-color: whitesmoke" class=" py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">



            </div>
            <table class="style3">

                <tr>

                    <td class="style4">
                        <h3>About us</h3>
                        Ever decided to take a weekend holiday from the city, but spent hours finding a
                        car rental? Or taken one on the reference of a friend, only to have the operator
                        leave you stranded in the middle and make you miss an important business
                        meeting? Or did the cab just not show up?

                        <br />
                        Well, we&#39;ve faced the same problems too. And we decided to help fix it. So we&#39;ve
                        created our website, a marketplace for all types of cabs and car rentals. It&#39;s
                        very simple: You enter your city and your need.

                        <br />
                        We search the available inventory of our partners and provide you with a list of
                        results and prices of different available cars from different operators. You can
                        see our rating of that operator, what other customers said of them, and then
                        book it right here on Olacabs.com.
                        <br />

                        Or you can call us and we&#39;ll help you through the process! It&#39;s that simple! We
                        are a young and energetic company based in Jalandhar. Nothing excites us more
                        than using technology to bring the same efficiency and customer experience to
                        the car rental industry that you expect from flights!
                    </td>

                </tr>


            </table><
            <br>
            <br />

           
            <h6>©Designed and developed by Sneha</h6>


        </div>

    </div>

</section>